@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto"),
  url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff");
  }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto"),
  url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  }

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;

  src: local("Roboto"),
  url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  }

:root {
  --black: #000000;
  --white: #FFFFFF;
  --yellow-star: #CDBC1E;
  --heart-active: #E55858;
  --error-color: #EB1717;
  --dark-green: #41522E;
  --grey-star: #C4C3B5;
  --background-white: #F4F4F4;
  --dark-grey: #424242;
  --light-grey: #878787;
  --middle-light-grey: var(--middle-light-grey);
  --very-light-grey: #E5E5E5;
  --input-grey: #C9CACC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--dark-grey);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

.loader {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.loader .path {
  stroke: rgb(91, 169, 247);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.input__wrap {
  display: flex;
  flex-direction: column-reverse;
}

.input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 26px;
  line-height: 28px;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--input-grey);
}

.label {
  margin-bottom: 6px;
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: var(--white);
  border-radius: 4px;
  padding: 15px 0;
  border: none;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.button:hover,
.button:active {
  cursor: pointer;
}

.select {
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: inherit;
  color: var(--middle-light-grey);
  border: 1px solid var(--very-light-grey);
  border-radius: 4px;
  padding: 4px 30px 4px 8px;
  margin-right: 8px;
  margin-bottom: 32px;
}

.select:hover,
.select:active,
.select--active {
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  cursor: pointer;
}

.upper,
.upper--active {
  position: absolute;
  top: 8px;
  right: 14px;
}

.lower,
.lower--active {
  position: absolute;
  bottom: 6px;
  right: 14px;
}

.upper--active > path {
  fill: var(--dark-green);
}

.lower--active > path {
  fill: var(--dark-green);
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url('../img/login-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-screen__popup {
  display: flex;
  flex-direction: column;
  width: 409px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
}

.login-screen__popup-title {
  font-size: 24px;
  line-height: 28px;
  -webkit-text-stroke: 1px var(--black);
  margin: 0 auto 32px;
}

.login-screen__popup-form {
  display: flex;
  flex-direction: column;
}

.login-screen__popup-form input {
  margin-bottom: 24px;
}

.login-screen__popup-form:last-child input,
.search-hotel__form input:last-of-type {
  margin-bottom: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--background-white);
}

.header__main-link {
  font-size: 24px;
  line-height: 28px;
}

.header__logout {
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
  width: 83px;
  color: var(--dark-green);
  background-color: inherit;
  border: none;
}

.header__logout:hover,
.header__logout:active {
  cursor: pointer;
}

.header__logout::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;

  width: 24px;
  height: 24px;

  background-image: url("../img/logout.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--background-white);
}

.main-screen__wrap {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-areas: 'search catalog'
                       'search catalog'
                       'favorite catalog'
                       'favorite catalog';
  max-width: 1048px;
  background-color: var(--background-white);
  padding-bottom: 26px;
}

.catalog-hotels__breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.breadcrumbs-item:not(:last-of-type) {
  position: relative;
  padding-right: 31px;
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-of-type)::after {
  position: absolute;
  content: url("../img/Vector.png");
  top: 0;
  right: 0;
  width: 11px;
  height: 20px;
}

.search-hotel {
  grid-area: search;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
}

.search-hotel__form {
  display: flex;
  flex-direction: column;
}

.search-hotel__form input {
  margin-bottom: 16px;
}

.search-hotel__date {
	background: url("../img/calendar.svg") no-repeat 95% 60%;
}

.catalog-hotels {
  width: 664px;
  grid-area: catalog;
  padding: 48px 32px;
  background-color: var(--white);
  border-radius: 16px;
}

.catalog-hotels__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.catalog-hotels__date {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-green);
}

.catalog-hotels__favorite-count {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 12px;
}

.catalog-hotels__favorite-count--value {
  font-weight: 500;
  color: var(--dark-green);
}

.catalog-hotels__list,
.favorites__list {
  max-height: 516px;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-green) var(--very-light-grey);
}

.catalog-hotels__list::-webkit-scrollbar,
.favorites__list::-webkit-scrollbar {
  width: 2px;
  height: 0;
}

.catalog-hotels__list::-webkit-scrollbar-track,
.favorites__list::-webkit-scrollbar-track {
  background: var(--very-light-grey);
}

.catalog-hotels__list::-webkit-scrollbar-thumb,
.favorites__list::-webkit-scrollbar-thumb {
  background: var(--very-light-grey);
  border-radius: 2px;
  border: 2px solid var(--dark-green);
}

.catalog-hotels__item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(65, 82, 46, 0.05);
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}

.favorites {
  grid-area: favorite;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
}

.favorites__list {
  max-height: 288px;
}

.favorites__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}

.hotel-card {
  border-bottom: 1px solid var(--very-light-grey);
  margin-right: 14px;
}

.hotel-card:not(:last-of-type){
  margin-bottom: 16px;
}

.hotel-card__main-wrap {
  display: flex;
  padding-top: 19px;
}

.hotel-card__content {
  width: 100%;
}

.hotel-card__home {
  position: relative;
  width: 75px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(65, 82, 46, 0.05);
  margin-right: 24px;

}

.hotel-card__home::before {
  position: absolute;
  content: url("../img/home.svg");
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hotel-card__title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
}

.hotel-card__date-info {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-grey);
  margin-bottom: 10px;
}

.hotel-card__top-wrap {
  display: flex;
  justify-content: space-between;
}

.hotel-card__bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding-bottom: 15px;
}

.hotel-card__star-list {
  display: flex;
}

.hotel-card__star-list li{
  margin-right: 3px;
}

.hotel-card__star-item--active > svg > path {
  fill: var(--yellow-star);
}

.hotel-card__price {
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  color: var(--light-grey);
}

.hotel-card__price-value {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: var(--dark-grey);
  margin-left: 22px;
}

.hotel-card__favorite-button,
.hotel-card__favorite-button--active {
  width: 21px;
  height: 18px;
  background-image: url('../img/heart.svg');
  background-color: inherit;
  border: none;
}

.hotel-card__favorite-button {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hotel-card__favorite-button:hover,
.hotel-card__favorite-button:active {
  cursor: pointer;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.hotel-card__favorite-button--active:hover,
.hotel-card__favorite-button--active:active {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 3))}
}

.catalog-hotels__slider {
  overflow:hidden;
	position: relative;
  margin-bottom: 28px;
}

.catalog-hotels__slider::before,
.catalog-hotels__slider::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  z-index: 2;
}

.catalog-hotels__slider::before {
  right: 0;
  transform: rotateZ(180deg);
}

.catalog-hotels__slider::after {
  left: 0;
}

.catalog-hotels__slide-list {
  display: flex;
  animation: scroll 35s linear infinite;
	width: calc(164px * 15);
}

.catalog-hotels__slide-item{
  height: 149px;
  border-radius: 10px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.catalog-hotels__slide-img{
  border-radius: 10px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.catalog-hotels__slide-item:not(:last-of-type) {
  margin-right: 12px;
}

.error-paragraph {
  position: relative;
  top: -12px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--error-color);
}

.input--error {
  color: var(--error-color);
  border: 1px solid var(--error-color);
}

.input--error + .label {
  color: var(--error-color);
}
